* {
    box-sizing: border-box;
    font-family: cursive;
}

body { 
    padding-top: 70px; 
}

.menu-items-nav {
    background-color: lightcyan;
    font-size: large;
}

.heading {
   text-align: center;
}

.title{
    text-align: center;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    width: fit-content;
    left: 1px;
    bottom:1px;
    padding:0 30px 0 30px;
    color: black;
}



.container{
    padding-top: 40px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.box{
    background-color: grey;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1000px;
}

.text{
    padding: 40px 20px 20px 20px;
    font-size: medium;
    color: black;
}

  /********** Desktop view **********/
  @media (min-width: 992px) {


  }

  
  /********** Tablet view **********/
  @media (min-width: 768px) and (max-width: 991px) {

  }
  
  /********** Mobile view **********/
  @media (max-width: 767px) {

  }